[submodule "spacemacs/.config/emacs"]
	path = spacemacs/.config/emacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "spacemacs/emacs.d"]
	path = spacemacs/emacs.d
	url = https://github.com/syl20bnr/spacemacs
