.config/keybase/autostart_created
.config/keybase/Cookies
.config/keybase/Cookies-journal
.config/keybase/device_clone.json
.config/keybase/keybase.autogen.env
.config/keybase/Network\ Persistent\ State
.config/keybase/secretkeys.*
.config/keybase/SharedStorage
.config/keybase/Trust\ Tokens
.config/keybase/Trust\ Tokens-journal
.config/keybase/*/
