[Desktop Entry]
Name=Emacs
Exec=toolbox run --container emacs-toolbox emacs
Type=Application
Version=1.0
Icon=emacs
Categories=Development;TextEditor;
